.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: none;
  margin: 0;
  padding: 0;
  background: #D9D9D9;
  border-radius: 12px;
  width: 100%;
}

.react-tabs__tab {
  display: inline-block;
  width: 25%;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
}

.react-tabs__tab--selected {
  background: #7755F3;
  border-color: none;
  color: white;
  border-radius: 12px;
}

.react-tabs__tab--disabled {
  /* color: GrayText; */
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  background: transparent;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
